*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.y_p {
  width: 100%;
  height: 745px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 80px;
  margin-left: 50px;
  margin-top: 21px;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.logo {
  font-size: 28px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  color: #22262a;
}

.icon {
  margin-top: 20px;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 148px;
}
.icon .fa-magnifying-glass {
  margin-top: 8px;
}
.icon .fa-heart {
  margin-top: 7px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  margin-left: 223px;
}
nav a {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  text-align: left;
  color: #22262a;
  font-family: "Poppins", sans-serif;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
}

body {
  max-width: 1920px;
  width: 100%;
}

.div_back {
  position: relative;
  width: 500px;
  height: 230px;
  position: absolute;
  top: 516px;
  right: 283px;
}
.div_back .trend {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #22262a;
}
.div_back .collusion {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #22262a;
}
.div_back .p_back {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #22262a;
}
.div_back .click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 310px;
  height: 40px;
  margin-top: 25px;
}
.div_back .click-1 {
  width: 132px;
  height: 41px;
  color: white;
  background: #22262a;
  text-align: center;
  padding-top: 12px;
}
.div_back .click-2 {
  width: 132px;
  height: 41px;
  color: white;
  background: #22262a;
  text-align: center;
  padding-top: 12px;
}